@tailwind base;
@tailwind components;
@tailwind utilities;



// FONTS
@import "custom_scss/fonts";

// // general
@import "custom_scss/general";

// // structure
@import "custom_scss/structure/topnav";
@import "custom_scss/structure/footer";

// // pages
// @import "custom_scss/pages/helper";
// @import "custom_scss/pages/hero";
// @import "custom_scss/pages/countdown";
// @import "custom_scss/pages/portfolio";
// @import "custom_scss/pages/contact";

// // Plugins
// @import "custom_scss/plugins/swiper-slider";
// @import "custom_scss/plugins/testi";
// @import "custom_scss/plugins/choices";
// @import "custom_scss/plugins/datepicker";



















html {
  font-family: "Euclid Circular A", "Akzidenz", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
}











